
div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
	width: 50%
}
label {
	font-size: 15px;
    visibility: hidden;
    color: rgba(150, 150, 150, 0.5);
	order: -1;
}

input  {
	font-size: 20px;
}

input:valid + label {
   top: 1px;
   visibility: visible;
} 

input:focus + label {
    color: #29d1ff;
}

